input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-clear-button {
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

/* Hide the password reveal button */
